.env
.config/
.cache/
.vscode/
.idea/
.hidden-folder/
.DS_Store
*.state
/releases/

# Ignore everything in target-root/var
target-root/var/*

# Keep structure down to releases
!target-root/var/lib/
!target-root/var/lib/solidgroundux/
!target-root/var/lib/solidgroundux/releases/

# Ignore everything inside releases
target-root/var/lib/solidgroundux/releases/*

# Explicit generated artifacts
target-root/var/lib/solidgroundux/releases/*.tar*
target-root/var/lib/solidgroundux/releases/*.manifest*
target-root/var/lib/solidgroundux/releases/*.sha256

# Allow installer scripts
!target-root/var/lib/solidgroundux/releases/sgnd-install.sh
!target-root/var/lib/solidgroundux/releases/sgnd-uninstall.sh